<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE WEEKEND</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&family=Fjalla+One&display=swap"
        rel="stylesheet">

    <link rel="xo-icon" sizes="180x180" href="{{ url_for('static', filename='images/icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/icon.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/icon.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/icon.png') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet"  href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <div class="wrapper">
            <nav class="nothome">
                <div class="logo">
                    <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/tw-sitelogo.png') }}" alt=""></a>
                </div>
                <ul class="nav-menu">
                    <li>
                        <a href="#" class="nav-link">NEWS</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">MUSIC</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">VIDEOS</a>
                    </li>
                    <li>
                        <a href="{{ url_for('store') }}" class="nav-link">STORE</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">XOFUND</a>
                    </li>
                    <li>
                        <a href="{{ url_for('signin') }}" class="nav-link">NEWSLETTER</a>
                    </li>
                    <li>
                        <a href="{{ url_for('my_cart') }}" class="nav-link">CART</a>
                    </li>
                </ul>
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </nav>
        </div>
    </header>
    <!-- End of navigation menu -->

    <div class="wrapper">
        <section class="m-5">
            <h1>Order Details</h1>
            <h2>Items</h2>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th>Order ID</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{ item[0] }}</td>
                        <td><img src="{{ url_for('static', filename=item[1]) }}" alt="Item Image" class="img-thumbnail" style="max-width: 100px;"></td>
                        <td>{{ item[2] }}</td>
                        <td>${{ item[3] }}</td>
                        <td>{{ item[4] }}</td>
                        <td>${{ item[5] }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
    <!-- End of order section -->

    <div class="wrapper">
        <section class="footersection">
            <div class="follow">
                <ul>
                    <li>
                        <a href="#"><img src="{{ url_for('static', filename='images/facebook.png') }}" width="22"></a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ url_for('static', filename='images/instagram.png') }}" width="22"></a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ url_for('static', filename='images/twitter.png') }}" width="22"></a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ url_for('static', filename='images/youtube.png') }}" width="22"></a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ url_for('static', filename='images/soundcloud.png') }}" width="22"></a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ url_for('static', filename='images/apple.png') }}" width="22"></a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ url_for('static', filename='images/spotify.png') }}" width="22"></a>
                    </li>
                </ul>
            </div>
            <div class="link">
                <ul>
                    <li>
                        <a href="#">COPYRIGHT REPUBLIC RECORD</a>
                    </li>
                    <li>
                        <a href="#">TERMS & CONDITIONS</a>
                    </li>
                    <li>
                        <a href="#">PRIVACY POLICY</a>
                    </li>
                    <li>
                        <a href="#">DO NOT SELL MY PERSONAL INFORMATION</a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <!-- End of footer section -->

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>