<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE WEEKEND</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&family=Fjalla+One&display=swap"
        rel="stylesheet">

    <link rel="xo-icon" sizes="180x180" href="{{ url_for('static', filename='images/icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/icon.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/icon.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/icon.png') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <div class="wrapper">
            <nav class="nothome">
                <div class="logo">
                    <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/tw-sitelogo.png') }}" alt=""></a>
                </div>
                <ul class="nav-menu">
                    <li>
                        <a href="#" class="nav-link">NEWS</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">MUSIC</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">VIDEOS</a>
                    </li>
                    <li>
                        <a href="{{ url_for('store') }}" class="nav-link">STORE</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">XOFUND</a>
                    </li>
                    <li>
                        <a href="{{ url_for('signin') }}" class="nav-link">NEWSLETTER</a>
                    </li>
                    <li>
                        <a href="{{ url_for('my_cart') }}" class="nav-link">CART</a>
                    </li>
                </ul>
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </nav>
            <!-- End of navigation menu -->
        </div>
    </header>

    <div class="wrapper">
        <section class="accsection">
            <div class="newsletter">
                <h1>
                    SUBSCRIBE TO EMAIL UPDATES FROM:<br>
                    THE WEEKND<br>
                    REPUBLIC RECORDS<br>
                    UNIVERSAL MUSIC GROUP<br>
                </h1>
                <p>Emails will be sent by or on behalf of Universal Music Group 2220 Colorado Avenue, Santa Monica, CA
                    90404 (310)
                    865-4000. You may withdraw your consent at any time.</p>
                <div class="form">
                    <input class="in" type="email" id="enterN" placeholder=" EMAIL ADDRESS"><br>
                    <button class="sub" id="submitBtn">SUBMIT</button><br>
                </div>
            </div>
            <div class="create">
                <h1>CREATE ACCOUNT</h1>
                {% if error_message %}
                <p style="color: red;">{{ error_message }}</p>
                {% endif %}
                <form action="{{ url_for('signup') }}" method="post">
                <div class="form">
                    <input class="in" type="text" id="username" name="username" required placeholder=" USER NAME"><br>
                    <input class="in" type="email" id="email" name="email" required placeholder=" EMAIL ADDRESS"><br>
                    <input class="in" type="password" id="password" name="password" required placeholder=" PASSWORD"><br>
                    <input class="in" type="text" id="first_name" name="first_name" required placeholder=" FIRST NAME"><br>
                    <input class="in" type="text" id="last_name" name="last_name" required placeholder=" LAST NAME"><br>
                    <button class="sub btnAdd" id="createBtn" type="submit">CREATE</button><br>
                </div>
                </form>
                <h1 style="margin: 15px;">OR</h1>
                <h1><a href="{{ url_for('signin') }}">SIGN IN</a></h1>
            </div>
        </section>
    </div>
    <!-- End of acc section -->

    <div class="wrapper">
        <section class="footersection">
            <div class="follow">
                <ul>
                    <li>
                        <a href="#"><img src="{{ url_for('static', filename='images/facebook.png') }}" width="22"></a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ url_for('static', filename='images/instagram.png') }}" width="22"></a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ url_for('static', filename='images/twitter.png') }}" width="22"></a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ url_for('static', filename='images/youtube.png') }}" width="22"></a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ url_for('static', filename='images/soundcloud.png') }}" width="22"></a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ url_for('static', filename='images/apple.png') }}" width="22"></a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ url_for('static', filename='images/spotify.png') }}" width="22"></a>
                    </li>
                </ul>
            </div>
            <div class="link">
                <ul>
                    <li>
                        <a href="#">COPYRIGHT REPUBLIC RECORD</a>
                    </li>
                    <li>
                        <a href="#">TERMS & CONDITIONS</a>
                    </li>
                    <li>
                        <a href="#">PRIVACY POLICY</a>
                    </li>
                    <li>
                        <a href="#">DO NOT SELL MY PERSONAL INFORMATION</a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <!-- End of footer section -->

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>
